<meta charset="UTF-8">
<style type="text/css">._customer_card__wrap {
    max-width: 887px;
    min-height: 629px;
    background: url("img/block_card/shiny-metal-texture-vector.png");
    font: 19px Tahoma, sans-serif;
    font-weight: normal;
    line-height: 24px;
    color: #000000;
    background-size: cover;
    padding-left: 33px;
    padding-right: 34px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
._customer_card__header {
    max-width: 823px;
    min-height: 15px;
    background: url("img/block_card/bg-header.png");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 25px 20px 20px 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 11px 24px 0 rgba(0, 0, 0, 0.22);
}
._customer_card__main {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
._customer_card__left {
    width: 554px;
}
._customer_card__top-item {
    display: flex;
    margin-bottom: 14px;
}
._customer_card__top-item img {
    width: 70px;
    height: 70px;
}
._customer_card__top-text {
    display: grid;
    align-content: center;
    padding-left: 25px;
}
._customer_card__top-text span {
    color: #2db0c6;
    text-transform: uppercase;
    font-weight: bold;
}
._customer_card__bottom {
    box-sizing: content-box;
    margin-top: 28px;
}
._customer_card__bottom-title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2db0c6;
    margin-bottom: 20px;
    overflow: hidden;
}
._customer_card__bottom-title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background: #2db0c6;
    position: relative;
    margin-right: -100%;
    right: -30px;
}
._customer_card__bottom-item {
    background: url("img/block_card/check.png") no-repeat 0 50%;
    line-height: 30px;
    padding-left: 46px;
}
._customer_card__right {
    height: 290px;
    min-width: 194px;
    max-width: 194px;
    background: url("img/block_card/bg-right.png");
    box-shadow: 0 11px 24px 0 rgba(0, 0, 0, 0.33);
    border-radius: 9px;
    margin-left: 31px;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 32px;
    padding-top: 142px;
    padding-left: 20px;
    padding-right: 20px;
}
._customer_card__right-contacts {
    background: #1c3a6a;
    margin-top: 27px;
    height: 103px;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    position: relative;
}
._customer_card__right-contacts img {
    position: absolute;
    top: -348px;
    left: -53px;
}
._customer_card__right-phone {
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
}
._customer_card__right-phone a {
    color: #ffffff!important;
    text-decoration: none;
}
._customer_card__right-phone a:hover {
    text-decoration: underline;
}
._customer_card__right-btn {
    max-width: 170px!important;
    min-height: 25px!important;
    background: #ffffff;
    border: 2px solid #2db0c6;
    border-radius: 15px!important;
    font-size: 11px!important;
    color: #112a51;
    font-weight: bold;
    text-align: center;
    line-height: 25px!important;
    cursor: pointer;
    margin: 0 auto!important;
    padding: 0!important;
    display: block!important;
}
</style>
<div class="_customer_card__wrap">
    <div class="_customer_card__header">Отличная цена, качественная продукция и сервис</div>
    <div class="_customer_card__main">
        <div class="_customer_card__left">
            <div class="_customer_card__top">
                <div class="_customer_card__top-item">
                    <img src="img/block_card/deposit.png" />
                    <div class="_customer_card__top-text">
                        <div><span>Оплата:</span> наличный и безналичный расчёт, оплата картой</div>
                    </div>
                </div>
                <div class="_customer_card__top-item">
                    <img src="img/block_card/trucks.png" />
                    <div class="_customer_card__top-text">
                        <div><span>Доставка:</span> бесплатная доставка по РФ</div>
                    </div>
                </div>
                <div class="_customer_card__top-item">
                    <img src="img/block_card/garranty.png" />
                    <div class="_customer_card__top-text">
                        <div><span>Гарантия:</span> 24 месяца = 12 месяцев на товар + 12 месяцев на бесплатное сервисное обслуживание</div>
                    </div>
                </div>
            </div>
            <div class="_customer_card__bottom">
                <div class="_customer_card__bottom-title">Продукция Tor</div>
                <div class="_customer_card__bottom-item">Высокое качество продукта и сервиса</div>
                <div class="_customer_card__bottom-item">Гибкая ценовая политика</div>
                <div class="_customer_card__bottom-item">Постоянное наличие на складе и оперативность отгрузки</div>
                <div class="_customer_card__bottom-item">Собственные сервисные центры в крупных городах</div>
            </div>
        </div>
        <div class="_customer_card__right">
            <div>Для получения консультации свяжитесь с нашими менеджерами</div>
            <div class="_customer_card__right-contacts"><img src="img/block_card/girl-callcenter.png" />
                <div class="_customer_card__right-phone">
                    <a href="tel:+88002501447" itemprop="telephone"
                       onclick="yaCounter39830810.reachGoal('megasite_comblock_tel'); return true;">8 800 250 14 47
                    </a>
                </div>
                <div class="apress-button ab-order js-apress-order-button js-get-order-form _customer_card__right-btn"
                     data-company-id="10434200" data-company-name="Tor" data-company-name-rest="ТД"
                     data-company-url="http://www.tor196.ru/" data-params="{&quot;company_id&quot;:10434200}"
                     data-statistics="1" data-type="message">Написать сообщение
                </div>
            </div>
        </div>
    </div>
</div>


